<h1>Login Doctores</h1>

<form method="post">
    <label>Username</label>
    <input type="text" name="username" class="form-control" />
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <button type="submit" class="btn btn-success">Entrar</button>
</form>
<h1 class="" style="color:red">@ViewBag.message</h1>

